<div class="text-center">
    <h1>Welcome to Sensor Processing!</h1>
    <p>
        This system allows real-time monitoring of essential meteorological parameters, including temperature, humidity, visibility, and atmospheric pressure. Designed for precision and efficiency, it helps analyze and visualize sensor data for better decision-making.

        Explore the features, analyze trends, and enhance your understanding of environmental conditions with our intuitive interface!
    </p>

    <img src="/img/Image.webp" alt="image" style="width:500px">
</div>